@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

.sider-wrapper {
    width: 7vw;
    transition: width 0.7s ease; // Add transition property

    .sider-brand-container {
        display: flex;
        width: inherit;
        justify-content: center;
        padding: 32px 0px 32px 0px;
        position: fixed;
        top: 0;
        z-index: 30;

        .sider-brand-logo {
            width: 51px;
            height: 37px;
        }
    }

    .sider-container {
        // border: 1px solid red;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;

        .sider-content {

            width: inherit;
            z-index: 20;

            .siderItem {
               height: 80px;

                .title {
                    transition: opacity 1s ease, height 0.3s ease; // Add transition properties
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    color: white;
                }

            }
        }


    }
}

.expand {
    width: 80px !important;

    .siderItem {
        display: flex !important;
        gap: 5px;
        width: 80px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80px;

        .title {
            opacity: 1 !important;
            height: 20px !important; // Adjust the height as needed
        }
    }
}


.sider-wrapper .sider-container .sider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa{
    color: #fff;
    font-size: 24px;
    margin-right: 5px;
    cursor: pointer;
}
.siderItem:hover .fa{
    text-shadow: 4px 4px 20px rgb(46, 252, 255);
    transition: 0.3s ease-in-out;
}
.siderItem:hover .title{
    text-shadow: 4px 4px 20px rgb(46, 252, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}